<br><br>
<h2>Events Table</h2>
<hr>
<link rel = "stylesheet", href='/css/style.css'>
<a class = "createEvent"href="<%=`/events/new` %>">Create a New Event</a>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>description</th>
      <th>Location</th>
      <th>startDate</th>
      <th>endDate</th>
      
    </tr>
  </thead>
  <tbody>
    <% events.forEach(event => { %>
    <tr>
      <td>
        <a href="<%= `/events/${event._id}` %>"> <%= event.title %> </a>
      </td>

      <td><%= event.description %></td>
      <td><%= event.location %></td>
      <td><%= event.startDate %></td>
      <td><%= event.endDate %></td>
      <td>
        <a href="<%=`/events/${event._id}/edit` %>"> Edit </a>
      </td>
      <td>
       <a href="<%=`/events/expressInterest/${event._id}` %>">Express Interest</a>
      </td>
      <td>
        <a
          href="<%= `events/${event._id}/delete?_method=DELETE` %>"
          onclick="return confirm('Are you sure you want to delete this event?')"
          >Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

