<div class="data-form">
    <br><br>
    <form method="POST" action="<%=`/users/${user._id}/update?_method=PUT`%>">
      <h2>Edit user:</h2>
      <label for="inputName">First Name</label>
      <input
        type="text"
        name="name"
        id="inputName"
        value="<%= user.name %>"
        placeholder="Name"
        autofocus
      />
      <label for="inputPassword">Password</label>
      <input
        type="password"
        name="password"
        id="inputPassword"
        value="<%= user.password %>"
        placeholder="Password"
        required
      />
      <label for="inputEmail">Email address</label>
      <input
        type="email"
        name="email"
        id="inputEmail"
        value="<%= user.email %>"
        placeholder="Email address"
        required
      />
      <label for="inputZipCode">Zip Code</label>
      <input
        type="text"
        name="zipCode"
        id="inputZipCode"
        pattern="\d*"
        value="<%= user.zipCode %>"
        placeholder="Zip Code"
        required
      />
      <label for="inputRole">Role</label>
      <input
        type="text"
        name="role"
        id="inputRole"
        value="<%= user.role %>"
        placeholder="Role"
        required
      />
      <label for="graduationYear">Graduation Year</label>
      <input
        type="number"
        name="graduationYear"
        value="<%= user.graduationYear %>"
        id="inputGraduationYear"
        placeholder="Graduation Year"
        required
      />
      <label for="major">Major</label>
      <input
        type="text"
        name="major"
        value="<%= user.major %>"
        id="inputMajor"
        placeholder="Major"
        required
      />
      <label for="job">Job</label>
      <input
        type="text"
        name="job"
        value="<%= user.job %>"
        id="inputJob"
        placeholder="Job"
      />
      <label for="company">Company</label>
      <input
        type="text"
        name="company"
        value="<%= user.company %>"
        id="inputCompany"
        placeholder="Company"
      />
      <label for="city">City</label>
      <input
        type="text"
        name="city"
        value="<%= user.city %>"
        id="inputCity"
        placeholder="City"
      />
      <label for="state">State</label>
      <input
        type="text"
        name="state"
        value="<%= user.state %>"
        id="inputState"
        placeholder="State"
      />
      <label for="country">Country</label>
      <input
        type="text"
        name="country"
        value="<%= user.country %>"
        id="inputCountry"
        placeholder="Country"
      />
      <label for="bio">Bio</label>
      <input
        type="text"
        name="bio"
        value="<%= user.bio %>"
        id="inputBio"
        placeholder="Bio"
      />
      <label for="interests">Interests</label>
      <input
        type="text"
        name="interests"
        value="<%= user.interests %>"
        id="inputInterest"
        placeholder="Interests"
      />
      
      <button type="submit">Update</button>
    </form>
  </div>
  